<h1>新規投稿</h1>
<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました
  <ul>
    <%= @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @post do |f| %>
  <h4>商品名</h4>
  <%= f.text_field :item_name %>

  <div class="form-group" id="star">
    <%= f.label :"評価" %>
    <%= f.hidden_field :star, id: :review_star, class: 'form-control' %>
    <div id="post_raty"></div>
  </div>
  <script>
    $(document).on('turbolinks:load', function() {
      let elem = document.querySelector('#post_raty');
      if (elem == null) return;
        elem.innerHTML = ""
        let opt = {  
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'post[rate]',
          half: true,
        };
      raty(elem, opt);
    });
  </script>

  <h4>紹介文</h4>
  <%= f.text_area :introduction %>
  
  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
  
  <h4>関係性</h4>
  <%= f.collection_check_boxes(:relationship_id, Relationship.all, :id, :relationship) do |b| %>
    <div>
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>
  
  <h4>シチュエーション</h4>
  <%= f.select :situation_ids, Situation.all.map {|situation|[situation.situation, @post_situation.situation_id = situation.id]}, { include_blank: '選択してください', selected:-1} %>
  
  
  <%= f.label :age, '年齢' %>
  <%= f.select :age, Post.ages.keys.map {|f| [I18n.t("enums.post.age.#{f}"), f]} %>
  <%= f.label :gender, '性別' %>
  <%= f.select :gender, Post.genders.keys.map {|f| [I18n.t("enums.post.gender.#{f}"), f]} %>
  <%= f.label :price, '予算' %>
  <%= f.select :price, Post.prices.keys.map {|f| [I18n.t("enums.post.price.#{f}"), f]}, { include_blank: '選択してください', selected:-1} %>

  <%= f.submit '投稿' %>
<% end %>