<h1>詳細</h1>

<h4>商品名</h4>
<p><%= @post.item_name %></p>
<h4>紹介文</h4>
<p><%= @post.introduction %></p>
<h4>関係性</h4>
<p><%= @post.relationship %></p>
<h4>シチュエーション</h4>
<p><%= @post.situations %></p>
<h4>年齢</h4>
<p><%= @post.age %></p>
<h4>性別</h4>
<% if @post.gender == "genderless" %>
  <p>指定なし</p>
<% elsif @post.gender == "male" %>
  <p>男性</p>
<% elsif @post.gender == "female" %>
  <p>女性</p>
<% end %>

<h4>予算</h4>
<% if @post.price == "lessthan3000" %>
  <span>3000円以下</span>
<% elsif @post.price == "lessthan5000" %>
    <span>5000円以下</span>
<% elsif @post.price == "lessthan10000" %>
  <span>10000円以下</span>
<% elsif @post.price == "lessthan30000" %>
    <span>30000円以下</span>
<% elsif @post.price == "morethan30000" %>
  <span>30000円以上</span>
<% end %>

<P>投稿ユーザー：<%= @post.user.name %></P>

<% if @post.user == current_user %>
  <%= link_to "編集", edit_post_path(@post.id) %>
  <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>

<div>
  <p>コメント件数：<%= @post.post_comments.count %></p>
  <% @post.post_comments.each do |post_comment| %>
    <%= post_comment.user.name %>
    <%= post.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
  <% end %>
</div>

<div>
  <%= form with model: [@post, @post_comment] do |c| %>
    <%= c.text_area :comment, rows: '5', placeholder: "コメント" %>
    <%= c.submit "送信する" %>
  <% end %>
</div>

<%= link_to "Back", posts_path %>