<div class="container">
  <h2>商品詳細</h2>
  <div class= "row d-flex">
    <div class="col-2">
      <label for="user">投稿者</label>
      <%= link_to @post.user.name, user_path(@post.user_id) %>
    </div>
    <div class= "col-5">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>商品名</th>
            <td><%= @post.item_name %></td>
          </tr>
          <% if @post.image.attached? %>
          <tr>
            <th>画像</th>
            <td><%= image_tag @post.get_image(300, 300) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class= "col">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>評価</th>
            <td>
              <% @post.star %><div id="post_star<%= @post.id %>"></div>
              <script>
                $(document).on('turbolinks:load', function() {
                  let elem = document.querySelector('#post_star<%= @post.id %>');
                  if (elem == null) return;
                  elem.innerHTML = ""
                  let opt = {
                    starOn: "<%= asset_path('star-on.png') %>",
                    starOff: "<%= asset_path('star-off.png') %>",
                    starHalf: "<%= asset_path('star-half.png') %>",
                    scoreName: 'post[star]',
                    half: true,
                    readOnly: true,
                    score: <%= @post.star %>
                  };
                  raty(elem, opt);
                });
              </script>
            </td>
          </tr>
          <tr>
            <th>オススメ内容</th>
            <td><%= @post.introduction %></td>
          </tr>
          <tr>
            <th>相手との関係性</th>
            <td><%= @post.relationship.relationship %></td>
          </tr>
          <tr>
            <th>シチュエーション</th>
            <td>
              <% @post.situations.each do |situation| %>
              <%= situation.situation %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>年齢</th>
            <td><%= @post.age_i18n %></td>
          </tr>
          <tr>
            <th>性別</th>
            <td><%= @post.gender_i18n %></td>
          </tr>
          <tr>
            <th>予算</th>
            <td><%= @post.price_i18n %></td>
          </tr>
        </tbody>
      </table>
      <div>
        <% if @post.user == current_user %>
          <%= link_to "編集", edit_post_path(@post.id) %>
          <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class= "row">
    <div class="col">
      <% if @post.like_by?(current_user) %>
        <p>
          <%= link_to post_like_path(@post), class: "text-danger", method: :delete do %>
            <i class="fa-solid fa-heart"></i>
            <%= @post.likes.count %>
          <% end %>
        </p>
      <% else %>
        <p>
          <%= link_to post_likes_path(@post), class: "text-danger", method: :post do %>
            <i class="fa-regular fa-heart"></i>
            <%= @post.likes.count %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
  
  <div class= "row">
    <div class="col-5">
      <%= form_with model: [@post, @post_comment] do |c| %>
        <%= c.text_area :comment, rows: '5', placeholder: "コメント" %>
        <%= c.submit "コメントする", class: "btn btn-dark btn-sm" %>
      <% end %>
      <p>コメント件数：<%= @post.post_comments.count %></p>
    </div>
    <div class="col-7">
      <h5>コメント一覧</h5>
      <% @post.post_comments.each do |post_comment| %>
      <div class="row">
        <div class="col-6">
          <%= post_comment.comment %>
        </div>
        <div class="col-3">
          <%= link_to post_comment.user.name, user_path(post_comment.user_id) %>
        </div>
        <div class="col-3">
          <%= post_comment.created_at.strftime('%Y/%m/%d') %>
          <% if post_comment.user == current_user %>
          <%= link_to "削除", post_post_comment_path(post_comment.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <%= link_to "Back", posts_path %>
</div>