<div class="container">
  <div class="row">
    <dix class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>プレゼント難民へ贈る</br>
          ギフト情報交換サイト</br>
          <strong>"推しギフト<i class="fa-solid fa-gift"></i>"</strong></h1>
          <h2>贈って喜ばれた・貰って嬉しかったプレゼント情報求ム！</h2>
    </dix>
  </div>
  <div class="row">
    <div class="col">
      <h3>新着投稿</h3>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>商品名</th>
            <th>予算</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
          <tr>
            <td><%= link_to post.item_name, post_path(post.id), class: "text-dark" %></th>
            <td><%= post.price_i18n %></td>
            <td>
              <% post.star %><div id="post_star<%= post.id %>"></div>
              <script>
                $(document).on('turbolinks:load', function() {
                  let elem = document.querySelector('#post_star<%= post.id %>');
                  if (elem == null) return;
                  elem.innerHTML = ""
                  let opt = {
                    starOn: "<%= asset_path('star-on.png') %>",
                    starOff: "<%= asset_path('star-off.png') %>",
                    starHalf: "<%= asset_path('star-half.png') %>",
                    scoreName: 'post[star]',
                    half: true,
                    readOnly: true,
                    score: <%= post.star %>
                  };
                  raty(elem, opt);
                });
              </script>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-around">
        <% if @posts.count == 3 %>
          <%= link_to posts_path, class: "text-dark" do %>
          <i class="fa-solid fa-ellipsis"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
