<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>新規作成</h2>
      <%= form_with model: @relationship ,url: admin_relationships_path, method: :post do |r| %>
        <div>関係性</div>
        <%= r.text_field :relationship %>
        <%= r.submit 'Create', class: "btn btn-white btn-outline-dark btn-sm" %>
      <% end %>
    </div>
    <div class="col-md-8">
      <h2>全関係性一覧</h2>
      <table class="table">
        <tbody>
          <% @relationships.each do |relationship| %>
          <tr>
            <td><%= relationship.relationship %></td>
            <td><%= link_to '削除', admin_relationship_path(relationship), class: "btn btn-danger btn-sm", method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= link_to 'Back', admin_dashboards_path %>
</div>
