<div class="container">
  <h2>マイページ</h2>
  <div class="row">
    <div class="col-3">
      <h4>Myprofile</h4>
      <%= image_tag @user.get_profile_image(100,100), class: "rounded-circle" %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>ひとこと</th>
            <th><%= @user.introduction %></th>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-around">
        <% if @user == current_user %>
          <div>
            <%= link_to edit_user_path(@user), class: "text-dark" do %>
            <i class="fa-solid fa-user-gear"></i>
            <% end %>
          </div>
          <div>
            <%= link_to post_likes_path(@posts), class: "text-danger" do %>
            <i class="fa-solid fa-heart"></i>
            <% end %>
          </div>
          <div>
            <%= link_to user_path(@user.id), method: :delete, "data-confirm" => "本当に退会しますか？", class: "text-muted" do %>
            <i class="fa-solid fa-user-slash"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-8">
      <h2>MyGift <i class="fa-solid fa-gifts"></i></h2>
      <table class="table table-hover border-dark">
        <tbody>
          <% @posts.each do |post| %>
          <tr>
            <td></td>
            <td><%= link_to post.item_name, post_path(post.id) %></td>
            <td></td>
            <td>
              <%= link_to "Edit", edit_post_path(post.id), class: "btn btn-outline-dark btn-sm" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
