<!DOCTYPE html>
<html>
<head>
  <title>Admin - Oshigift</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <script src="https://kit.fontawesome.com/1de1265c5c.js" crossorigin="anonymous"></script>
  <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body class="p-3 mb-2 text-dark-50 d-flex flex-column vh-100">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <div>推しギフト</div>
        <ul class="navbar-nav ml-auto">
          <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to 'ダッシュボード', admin_dashboards_path, class: 'nav-link text-white' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログアウト', destroy_admin_session_path, class: 'nav-link text-white', method: :delete %>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="d-flex justify-content-end">
        <%= render 'admin/shared/form' %>
      </div>
    </div>
  </header>
  <main>
    <%= yield %>
  </main>
</body>
</html>